.advanced-display {
  // width: 500px;
  height: 80vh;
  .max-temp {
    color: #c43a31;
  }
  .min-temp {
    color: #429bb8;
  }
  .snowcover {
    color: #fffff0;
  }
  .snowfall {
    color: #2f4ac2;
  }
}